@import url(https://fonts.googleapis.com/css?family=Sintony:400,700);
@import url(https://fonts.googleapis.com/css?family=Bitter|Six+Caps|Abril+Fatface|Raleway:500,300|Alegreya:700,400);
* { margin:0; padding:0; box-sizing:border-box;}
body{
	text-align:center;
	/* background-image: url('../images/avb_website_background_image_B.jpg'); */
	/* background-size: cover; */
	/* background-size: 100% auto; */
	/* background-position: top; */
	/* background-color:black; */
	/* background-repeat: no-repeat; */
	color: white;
	font-family: 'Sintony', sans-serif;
	font-size: 16px;
}
header {
	float:left;
	width:100%;
}
section#nametitletag {
	background-image: url('../images/avb_website_background_image_B.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 20em 0 0;
	height: 90vh;
}
#navone {
	display: float;
	padding-top: 2em;
}

a {
  color: white;
  text-decoration: none;
  display: inline;
}


h5{
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-weight:200;
	margin-top: 0em;
	display: inline;
	padding: 1em;
}

h3{
	font-family: 'Abril Fatface', sans-serif;
	font-weight: 400;
	font-size: 1.25em;
	letter-spacing: .1em;
	text-align: center;
}

h1{
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	font-weight:200;
	letter-spacing: 1px;
}
#slogan {
	font-family: 'Abril Fatface', sans-serif;
	font-weight: 400;
	font-size: 1em;
	letter-spacing: .1em;
}

main{
	background-color: #EDE8DF;
}

#portfolio img {  
	height: 12em;
	display: inline;
	margin: 1.5em; 
}

#services{
	background-color: #038FA3;
	padding: 1em auto;
	float: left;
	width: 50%;
	height: 25em;
}

li{
	font-size: 1em;
	line-height: 1.5em;
	text-align: center;
	list-style-position: inside;
}

#bio{
	background-color: #FE7F39;
	padding: .9em auto;
	float: right;
	width: 50%;
	height: 25em;
}

p{
	font-size: .9em;
	line-height: 1.5em;
	padding: 0 9em;
	text-decoration: black;
}

#clientsheet img {  
	height: 8em;
	display: inline;
	margin: 1.5em; 
}

footer{
	font-size: .75em;
	background-color: #646464;
	padding: 1em;
	clear: both;

}
@media only screen and (max-width: 1097px) { 
	#bio, #services { 
		float:none;
		padding: 1em; 
		width: 100%;
	}
}
@media only screen and (max-width: 834px) { 
	#nametitletag {
		background-image: url('../images/avb_website_background_image_B.jpg');
	}
} 
@media only screen and (max-width: 768px) { 
	body { 
		font-size: 14px; 
	}

}
@media only screen and (max-width: 500px) { 
	#navone { 
		float:none;
	}

@media only screen and (max-width: 500px) { 
#portfolio { 
	size: 12px;
	}

@media only screen and (max-width: 500px) { 
#h1 { 
	size: 1em;
	}


