
.wrapper{
    background-color: #FFE2B8;
    padding:1em;
}
h1 {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

#navigation1{
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

.picture{
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

.description{
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

#footer1 {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}