@import url(https://fonts.googleapis.com/css?family=Sintony:400,700);
@import url(https://fonts.googleapis.com/css?family=Bitter|Six+Caps|Abril+Fatface|Raleway:500,300|Alegreya:700,400);
body{
	
	text-align:center;
	background: url('images/avb website background image B.jpg');
	background-size: cover;
	background-size: 1080px auto;
	background-position: top;
	background-color:black;
	background-repeat: no-repeat;
	color: white;
	font-family: 'Sintony', sans-serif;
}

#navone {
	display: inline;
}


h5{
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-weight:200;
	margin-top: 0em;
	display: inline;
	padding: 1em;
}

h3{
	font-family: 'Abril Fatface', sans-serif;
	font-weight: 400;
	font-size: 1.25em;
	letter-spacing: .1em;
	text-align: center;
}

h1{
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	font-weight:200;
	letter-spacing: 1px;
}
#slogan {
	font-family: 'Abril Fatface', sans-serif;
	font-weight: 400;
	font-size: 1em;
	letter-spacing: .1em;
	padding-bottom: 640px;
}

div{
	background-color: #3D3E42;
}

img {  
	height: 12em;
	display: inline;
	margin: 1.5em; 
}

#bio{
	background-color: #FE7F39;
	padding: 3em;
}

p{
	font-size: 1em;
	line-height: 1.5em;
	padding: 0 9em;
	text-decoration: black;
}

#services{
	background-color: #038FA3;
	padding: 3em;
}

li{
	font-size: 1em;
	line-height: 1.5em;
	text-align: center;
	padding-right: 2.5em;
	list-style-position: inside;
}

